body{
background-color:lavender
}
.bg-img{
    width: 1750px;
    height: 600px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
   

}

.card{
    border: solid 2px black;
    background: lavender ;
}
.texto-j{
    font-family: sans-serif;
    font-size: 40px;
}

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
